$font-title: 'Sriracha', cursive;
$font: 'Kanit', sans-serif;

.quiz-container {
  width: 100%;
  min-height: 65vh;
  background-color: #f1f2f6dc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;

  .progress {
    width: 100%;
    padding: 5px 35px;
    border: 1px solid #718093;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    h2{
      letter-spacing: 3px;
      font-family: $font-title;
      font-weight: 400;
      color: #2f3640;
      font-weight: 800;
      font-size: 1rem;
      text-align: right;
    }

    .btn-previous {
      background-color: #2f3542 ;
      clip-path: polygon(40% 0%, 40% 26%, 100% 26%, 100% 74%, 40% 74%, 40% 100%, 0% 50%);
      width: 25px;
      height: 25px;
  }
  }

  .questions {
    position: relative;
    width: 100%;
    border: 1px solid #718093;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(14, 17, 21, 0.922) 0%, rgba(47, 53, 66, 0.95) 47%, rgba(31, 14, 8, 0.61) 100%);
    
 
    img {
      width: 100%;
      opacity: 0.6;
    }

    .question {
      position: absolute;
      top:30%;
      width: 100%;
      height: 40%;
      margin: auto;
      background-color: #222f3eb6;
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        color: ghostwhite;
        text-align: center;
        text-transform: uppercase;
        font-family: $font;
        font-size: 2.5rem;   
        padding: 5px 10px;      
       } 
    } 
  }

  .answersOption {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .answer{
      width: 24%;
      height: 220px;
      border: 1px solid #718093;
      border-radius: 4px;
      list-style: none;
      background-color: #2f3542;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      
        input {
        width: 0%;
        opacity: 0;
        }

        label {
        width: 90%;
        padding: 10px;
        vertical-align: middle;
        color:ghostwhite;
        font-family: $font-title;
        line-height:1.20em;
        font-weight: 400;
        font-size: 1.65em;
        text-align: center;
        cursor: pointer;
    
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .quiz-container {
    min-height: 55vh;
    .progress {
      padding: 3px 18px;
     
      h2{ 
        font-size: 0.85rem;
      }  
    }
    .questions {
      
      .question {
        height: 50%;
        h2 {
        font-size: 0.9em;
        padding: 5px 5px;
       }
      }
    }

    .answersOption {
      align-items: center;
      .answer {
        width: 49%;
        height: 155px;
        margin: 2.5px auto;
         label {
           font-size: 1em;
         }
      }

    }
  }
}
