$font-title: 'Sriracha', cursive;
$font: 'Kanit', sans-serif;

.btn-restart {
  color: white;
  width: 200px;
  padding: 10px;
  font-family: $font-title;
  font-size: 1em;
  text-transform: uppercase;
  background-color: #222f3e;
  margin: auto;
  box-shadow: 1px -6px 1px #EDEEF2;
  
}

.house {
  width: 100%;
  padding: 30px;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;

 
  img {
    width: 260px;
    height: 260px;
    box-shadow: 1px 1px 12px 5px #0000005c;
    padding: 10px;
  }

  h2 {
    font-size: 2.2em;
    font-weight:600;
    padding: 5px 0px;
    text-decoration: underline;

  }

  .bloc {
  
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    span.quote{
      font-size: 1.5em;
      line-height: 26px; 
      padding: 5px;  
    }
    span.description {
      font-size: 1.2em;
      padding: 5px;
    }
  }
}
@media screen and (max-width: 500px) {
  .btn-restart {
    margin-top: 5px;
    padding: 8px;
    font-size: 0.9em;
  }
  .house {
    padding : 10px 5px;
    margin-top: 10px;
     img{
       width: 145px;
       height: 145px;
     }

     h2 {
       font-size: 1.55em;
     }

     .bloc {
       height: 50vh;

       span.quote {
         font-size: 1.2em;
       }

       span.description {
         font-size: 1em;
       }
     }
  }
}